
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <!-- Inline Layout -->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>

