@model  Intranet.Models.Usuario
@{

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Admin BootStrap Based - Material Design</small>
        </div>
        <div class="card">
            <div class="body">
                <!--<form id="sign_in" method="POST">-->
                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "sign_in" }))
                {
                    <div class="msg">Sign in to start your session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.login, new { @class = "form-control", name = "username", placeholder = "Login", autofocus = "", id = "login" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                             @Html.PasswordFor(m => m.senha, new { @class = "form-control", name = "password", placeholder = "Senha"})

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            @*  <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
        <label for="rememberme">Remember Me</label>*@
                        </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-pink waves-effect" type="submit">Entrar</button>
                            </div>
                        </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            @Html.ActionLink("Registre-se Agora!", "Registrar")
                        </div>
                        <div class="col-xs-6 align-right">
                            @Html.ActionLink("Esqueceu Sua Senha ?", "RecuperaSenha")
                        </div>
                    </div>
                }
                <!--</form>-->
            </div>
        </div>
    </div>


