

@model IEnumerable<Intranet.Models.GrupoAcesso>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="tableGruposUsuario">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Descrição</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.descricao)
                                        </td>
                                        <td>

                                            <button type="button" class="btn bg-black waves-effect waves-light" onclick="showCancelMessage(@item.id);">
                                                <i class="material-icons">delete</i>
                                            </button>

                                            @*data-type="cancel"*@
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>



<script type="text/javascript">
    function DeleteItem(IdGrupoAcesso) {

        var IdUsuario = $('#IdUsuario').val();
        var url = "@Url.Action("DeleteUsuarioAcesso", "GrupoAcesso")";

        var data = { IdGrupoAcesso: IdGrupoAcesso, IdUsuario: IdUsuario };

                    $.post(url, data).done(function (data) {
                        carrega_ListGruposFiltroUsuario();
                    }).fail(msgErroAjax).always(function () {


                    });
                }                

    $('#tableGruposUsuario').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>

