
@{
    ViewBag.Title = "AtribuirGrupos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <!-- Inline Layout -->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Grupo de Acesso
                        </h2>
                        <div class="body">

                            <select id="optgroup" multiple="multiple" class="multiSelect ms">
                                @if (ViewBag.ListaGrupos != null)
                                {
                                    foreach (var item in ViewBag.ListaGrupos)
                                    {
                                        if (item.Text != null)
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                }
                            </select>

                            <button id="aparecer">alerta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


