
@{
    ViewBag.Title = "AtribuirGrupos";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="header">
    <h2>
        Grupo de Acesso
    </h2>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-3">

                <select class="form-control show-tick">
                    <option value="9999">Selecione</option>
                    @if (ViewBag.ListaUsuarios != null)
                    {
                        foreach (var item in ViewBag.ListaUsuarios)
                        {
                            if (item.Text != null)
                            {
                                <option value="@item.Value">
                                    @item.Text
                                </option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-md-3">

                <select class="form-control show-tick">
                    <option value="9999">Selecione</option>
                    @if (ViewBag.ListaGrupos != null)
                    {
                        foreach (var item in ViewBag.ListaGrupos)
                        {
                            if (item.Text != null)
                            {
                                <option value="@item.Value">
                                    @item.Text
                                </option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        @*colocar render action ao selecionar o usuario mostrando uma lista com seus grupos de acessos via ajax*@

    </div>
</div>

