@model Intranet.Models.Produto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content" ng-controller="produtoCtrl">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h4>Produto</h4>
                </div>
                <div class="body">

                    <form name="ProdutoForm">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="Id" type="hidden" placeholder="Id Funcionário" />
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="DescProduto">Descrição do Produto</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="DescProduto" name="DescProduto" class="form-control" ng-model="produto.DescProduto" placeholder="Informe a descrição do Produto">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="Peso">Peso</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" id="Peso" name="Peso" class="form-control" ng-model="produto.Peso" placeholder="Informe o Peso">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="Valor">Valor</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" id="Valor" name="Valor" class="form-control" ng-model="produto.Valor" placeholder="Informe o Valor">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="Quantidade">Quantidade</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" id="Quantidade" name="Quantidade" class="form-control" ng-model="produto.Quantidade" placeholder="Informe a Quantidade">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="DataCompra">Data da Compra</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="datetime" id="DataCompra" name="DataCompra" class="form-control" ng-model="produto.DataCompra" placeholder="Informe a Data da Compra">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="DataVencimento">Data de Vencimento</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="datetime" id="DataVencimento" name="DataVencimento" class="form-control" ng-model="produto.DataVencimento" placeholder="Informe a Data de Vencimento">
                                </div>
                            </div>
                        </div>




                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary m-t-15 waves-effect" ng-click="addProduto();">CRIAR</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderAction("ListProduto", "Produto");
    }
</section>

@*
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@